body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar img {
    height: 40px;
}

.sidebar {
    width: 250px;
    padding: 0px;
}

.dashboard-link {
    width: 100%;
    padding: 16px 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    display: block;
    transition: color 0.3s ease;
}

.dashboard-link:hover {
    color: #f15a25 !important;
}

.sidebar-link-is-route {
    color: #f15a25 !important;
    background: rgba(255, 255, 255, 0.1);
}

.content {
    flex: 1;
}

#navbarNav {
    padding: 0px;
}

.table {
    border: 1px solid #ced4da !important;
}

.table tr {
    max-height: 200px;
}

.table img {
    max-width: 150px;
    max-height: 150px;
}

.pagination-wrapper {
    gap: 12px;
}

.per-page-select {
    border: none;
    background-color: #f15a25;
    color: black;
    box-shadow: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.per-page-select:hover {
    color: white;
}

.pagination .page-link {
    border: none;
    color: #000;
    background-color: #f15a25;
    margin: 0 2px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.pagination .page-link:hover {
    color: white;
}

.pagination .active .page-link {
    color: white !important;
}

.pagination .disabled .page-link {
    background-color: #ccc !important;
}   